body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
header{
	text-align: center;
}

header img{
	width: 150px;
	margin: 25px 0 5px;
}

nav ul{
	display: flex;
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin:1%;
	padding-left: 0;
	

}
nav ul li{
	flex-grow: 1;
}
nav ul li a{
	text-decoration: none;
	background-color:#dfe6e9 ;
	display:block;
	color: black;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;



}
nav ul li a:hover{
	background-color: white;
}
.main-section{
	display: flex;
	padding: 0 5% 0 0;
	justify-content: space-around;
	background-color: white;
	margin: 2% auto;
	width: 90%;


}

}
.main-section .middlesection{
	padding: 4px;
}

.main-section .leftbar img{
	border-radius: 30px;
	object-fit: cover;         
    height:600px;
	 width:500px;
}

form{

}
form label{
	padding: 5px;
	width: 60px;
	text-transform: capitalize;

}
form input{
	padding: 5px;
	border-color: transparent;
	border-bottom: 1px solid black;
}

.box-input{
	display: flex;
	justify-content: flex-start;
}
/*much better planing*/
.d2{
	width: 50%;
	padding: 0 3%;
	word-wrap: break-word;
}

}
.box-output{
	display: flex;
	justify-content: flex-start;
}
footer{
    background-color: #f6f2f2;
    margin: 0% auto;
    padding: 2%;
    width: 98%;
    box-sizing: border-box;
    text-align: center;
    

}
.title-all{
width: 90%; 
margin: 2% auto;
}
.leftbar{
	padding-right: 0;
}
.middlesection{
padding-left: 0;
}
.rightbar{
	display: flex;
	padding: 0 5% 0 0;
	justify-content: space-around;
	background-color: white;
	margin: 2% auto;
	width: 90%;	
}
.rightbar .insideright{
paddig:2%;
}
.rightbar .map{
	padding-left: 2%;
	/*object-fit: cover;         */
    height:500px;
	 width:300px;
}