body{
	margin: 0;
}
header{
	text-align: center;
}

header img{
	width: 90px;
}

nav ul{
	display: flex;
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin:1%;
	padding-left: 0;
	

}
nav ul li{
	flex-grow: 1;
}
nav ul li a{
	text-decoration: none;
	background-color:#dfe6e9 ;
	display:block;
	color: black;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;



}
nav ul li a:hover{
	background-color: white;
}
.main-section{
 
	margin: 0 auto;
	display: flex;
	padding: 5%;
	justify-content: space-around;
	background-color: white;
	margin: 2%;

}

}
.main-section .middlesection{
	padding: 4px;

	


	
}

.main-section .leftbar img{
	border: 5px solid black;
	max-width:100%;
	
	object-fit: cover;

}

form{

}
form label{
	padding: 5px;
	width: 60px;
	text-transform: capitalize;

}
form input{
	padding: 5px;
	border-color: transparent;
	border-bottom: 1px solid black;
}

.box-input{
	display: flex;
	justify-content: flex-start;
}
/*much better planing*/
.d2{
	width: 50%;
	padding:  0 3%;
	word-wrap: break-word;
}

}
.box-output{
	display: flex;
	justify-content: flex-start;
}
footer{
    /*background-color: grey;*/
    margin: 0% auto;
    padding: 2%;
    width: 98%;
    box-sizing: border-box;
    text-align: center;

}