body{
	margin: 0;
}
header{
	text-align: center;
}

header img{
	width: 90px;
}

nav ul{
	display: flex;
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin:1%;
	padding-left: 0;
	

}
nav ul li{
	flex-grow: 1;
}
nav ul li a{
	text-decoration: none;
	background-color:#dfe6e9 ;
	display:block;
	color: black;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;



}
nav ul li a:hover{
	background-color: white;
}
.main-section{
	width: 90%; 
	margin: 0 auto;
	display: flex;
	padding: 4%;
	justify-content: space-around;
	background-color: grey;
	margin: 1% ;

}

}
.main-section .leftbar{
	padding: 2%;

	
}
.main-section .rightbar{
	padding: 2%;
	

}
.main-section .insideright{
	display: flex;
}
.main-section .middlesection img{
	max-width:70%;
}
.main-section .insideright div{
	padding: 20px;
}
.main-section .rightbar h1{
	padding: 0;
	margin: 0 0 0 20px;
}
footer{
    background-color: grey;
    margin: 1% auto;
    padding: 2%;
    width: 98%;
    box-sizing: border-box;
}
